body {
  background-color:#000000;
  color: #ffffff
}

header {
  max-width: 1170px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}

.type-treatment {
  font-family: 'OPTIAkroGrotesk-Cond';
  text-transform: uppercase;
  letter-spacing: 2px;
}

.page-heading {
  font-size: 15px;
  font-weight: 400;
}

.rule {
  display: none;
  height: 1px;
  width: 100%;
  background-color: #ffffff;
  margin-right: 20px;
}
.brooklyn-nets-logo {
  max-width: 80px;
}

.nba-logo {
  width: 36px;
}

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.hero::before {
  content: "";
  position: absolute;
  background-color: #000000;
  opacity: .6;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: 1;
}

.intro-text {
  position: relative;
  z-index: 1;
  text-align: center;
}

.intro-text h3 {
  font-size: 30px;
  margin-bottom: 0px;
}

.intro-text p {
  max-width: 30%;
  font-size: 15px;
  margin: 0 auto;
  margin-top: 0;
}

.brooklyn-nets-team-photo {
  max-width: 100%;
  width: 100%;
  position: relative;
}

table {
  padding-top: 40px;
  padding-left: 25px;
}
table thead tr th {
  text-align: left;
}

.player-row {
  line-height: 2;
}
.player-row > td:first-child {
  width: 25%;
}
.player-info__container {
  display: flex;
  flex-direction: column;
}

.player-info * {
  margin: 0;
}

.player-info h6 {
  font-size: 30px;
  line-height: 1;
  margin-bottom: 10px;
}

.player-photo {
  max-width: 180px;
}

footer ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  padding: 30px 10px;
}
footer ul a {
  color: white;
}

footer ul a:hover {
  color: gray;
}


@media (min-width: 1170px) {
  .hero {
    height: 800px;
  }
  .intro-text h3 {
    font-size: 60px;
  }
  .intro-text p {
    font-size: 21px;
    max-width: 100%;
  }
  .player-info__container {
    display: flex;
    flex-direction: row;
  }
}